html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}




.theme {
    
    background-color: rgba((248, 249, 250), 1);
}

.table-theme{

}

@media (prefers-color-scheme: dark) {
    .theme.adaptive {
        background-color: rgba((33, 37, 41), 1) !important;
        outline: 5px dashed #000;
    }
    .table-theme.adaptive {
        --bs-table-bg: #212529;
        --bs-table-striped-bg: #2c3034;
        --bs-table-striped-color: #fff;
        --bs-table-active-bg: #373b3e;
        --bs-table-active-color: #fff;
        --bs-table-hover-bg: #323539;
        --bs-table-hover-color: #fff;
        color: #fff;
        border-color: #373b3e;
    }

    .btn-theme {
        color: #fff;
        background-color: #212529;
        border-color: #212529;
    }

        .btn-theme:hover {
            color: #fff;
            background-color: #1c1f23;
            border-color: #1a1e21;
        }

        .btn-theme:focus + .btn-theme, .btn-theme:focus {
            color: #fff;
            background-color: #1c1f23;
            border-color: #1a1e21;
            box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
        }

        .btn-check-theme:checked + .btn-theme, .btn-check-theme:active + .btn-theme, .btn-theme:active, .btn-theme.active, .show > .btn-theme.dropdown-toggle {
            color: #fff;
            background-color: #1a1e21;
            border-color: #191c1f;
        }

            .btn-check:checked + .btn-theme:focus, .btn-check:active + .btn-theme:focus, .btn-theme:active:focus, .btn-theme.active:focus, .show > .btn-theme.dropdown-toggle:focus {
                box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
            }

        .btn-light:disabled, .btn-light.disabled {
            color: #fff;
            background-color: #212529;
            border-color: #212529;
        }



    .btn-outline-light {
        color: #212529;
        border-color: #212529;
    }

        .btn-outline-light:hover {
            color: #fff;
            background-color: #212529;
            border-color: #212529;
        }

        .btn-check:focus + .btn-outline-light, .btn-outline-light:focus {
            box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
        }

        .btn-check:checked + .btn-outline-light, .btn-check:active + .btn-outline-light, .btn-outline-light:active, .btn-outline-light.active, .btn-outline-light.dropdown-toggle.show {
            color: #fff;
            background-color: #212529;
            border-color: #212529;
        }

            .btn-check:checked + .btn-outline-light:focus, .btn-check:active + .btn-outline-light:focus, .btn-outline-light:active:focus, .btn-outline-light.active:focus, .btn-outline-light.dropdown-toggle.show:focus {
                box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
            }

        .btn-outline-light:disabled, .btn-outline-light.disabled {
            color: #212529;
            background-color: transparent;
        }




    .dropdown-menu-light {
        color: #dee2e6;
        background-color: #343a40;
        border-color: rgba(0, 0, 0, 0.15);
    }

        .dropdown-menu-light .dropdown-item {
            color: #dee2e6;
        }

            .dropdown-menu-light .dropdown-item:hover, .dropdown-menu-light .dropdown-item:focus {
                color: #fff;
                background-color: rgba(255, 255, 255, 0.15);
            }

            .dropdown-menu-light .dropdown-item.active, .dropdown-menu-light .dropdown-item:active {
                color: #fff;
                background-color: #0d6efd;
            }

            .dropdown-menu-light .dropdown-item.disabled, .dropdown-menu-light .dropdown-item:disabled {
                color: #adb5bd;
            }

        .dropdown-menu-light .dropdown-divider {
            border-color: rgba(0, 0, 0, 0.15);
        }

        .dropdown-menu-light .dropdown-item-text {
            color: #dee2e6;
        }

        .dropdown-menu-light .dropdown-header {
            color: #adb5bd;
        }



    .navbar-light .navbar-brand {
        color: #fff;
    }

        .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
            color: #fff;
        }

    .navbar-light .navbar-nav .nav-link {
        color: rgba(255, 255, 255, 0.55);
    }

        .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
            color: rgba(255, 255, 255, 0.75);
        }

        .navbar-light .navbar-nav .nav-link.disabled {
            color: rgba(255, 255, 255, 0.25);
        }

        .navbar-light .navbar-nav .show > .nav-link,
        .navbar-light .navbar-nav .nav-link.active {
            color: #fff;
        }

    .navbar-light .navbar-toggler {
        color: rgba(255, 255, 255, 0.55);
        border-color: rgba(255, 255, 255, 0.1);
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar-light .navbar-text {
        color: rgba(255, 255, 255, 0.55);
    }

        .navbar-light .navbar-text a,
        .navbar-light .navbar-text a:hover,
        .navbar-light .navbar-text a:focus {
            color: #fff;
        }




    .alert-light {
        color: #141619;
        background-color: #d3d3d4;
        border-color: #bcbebf;
    }

        .alert-light .alert-link {
            color: #101214;
        }




    .list-group-item-light {
        color: #141619;
        background-color: #d3d3d4;
    }

        .list-group-item-light.list-group-item-action:hover, .list-group-item-dark.list-group-item-action:focus {
            color: #141619;
            background-color: #bebebf;
        }

        .list-group-item-light.list-group-item-action.active {
            color: #fff;
            background-color: #141619;
            border-color: #141619;
        }




    .link-light {
        color: #212529;
    }

        .link-light:hover, .link-light:focus {
            color: #1a1e21;
        }




    .border-light {
        border-color: #212529 !important;
    }






    .text-dark {
        --bs-text-opacity: 1;
        color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
    }
}